@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

:root{
    --primary-color: black; 
    --title-color: bisque;
    --text-color: beige;
}


*{
    box-sizing: border-box;
    font-size: 24px;
}

body{
    font-family: 'Caveat', cursive;
    margin: 0;
}

/* Navigation Start */

.nav{
    display: grid;
    grid-template-columns: 1fr 0.75fr 1fr;
    background-color: var(--primary-color);
}

.nav .img-1{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 1rem;
}

.nav .img-2{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 1rem;
}

.nav .img-ship{
    width: 3rem;
    height: 3rem;
}

nav .title{
    font-family: 'Kaushan Script', cursive;
    font-size: 1.2rem;
    margin: 0 auto;
    padding: 0.7rem;
    width: max-content;
    color: var(--title-color);
}

/* Navigation Ends */

/* Content */

.container{
    display: grid;
    grid-template-columns: 1.5fr 3fr 1.5fr;
    gap: 0.7rem;
}

.side-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-wrapper-img-skull{
    width: 100%;
    height: 80%;
    padding: 1rem;
    margin-right: 2rem;
}

.side-wrapper-img-ship{
    width: 100%;
    height: 90%;
    padding: 1rem;
}


.txt-area{
    display: block;
    width: 70%;
    min-height: 20vh;
    padding: 0.7rem;
    resize: none;
    font-family: 'Caveat', cursive;
    margin: 3rem auto 0.7rem;
}

.btn{
    display: block;
    width: max-content;
    margin: 1rem auto;
    padding: 0.7rem;
    font-family: 'Caveat', cursive;
    cursor: pointer;
    color: var(--text-color);
    background-color: var(--primary-color);
    align-self: center;
}

.txt-output{
    text-align: center;
    margin: 0.7rem auto;
}

.output{
    width: 70%;
    min-height: 20vh;
    border: 1px solid var(--primary-color);
    margin: 0.7rem auto;
}

.footer-txt{
    max-width: 50%;
    margin: 0 auto;
    text-align: justify;
    text-align-last: center;
    font-size: 1.05rem;
    padding: 1rem;
    color: var(--text-color);
}

.footer{
    background-color: var(--primary-color);
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

@media screen and (max-width: 800px) {
 
    body{
        height: 100vh;
    }
    
    .nav{
        grid-template-columns: repeat(3, 1fr);
    }
    
    .nav .img-1{
        padding: 0;
    }

    .nav .img-2{
        padding: 0;
    }
    
    .container{
        all: unset;
    }

    .background{
        display: block;
        background-image: url(./images/imageedit_3_3293361583.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        margin-top: 0.7rem;
    }

    .container .side-wrapper{
        all: unset;
        display: none;
    }

    .txt-area{
        margin: 2rem auto 0.7rem;
        background: transparent;
    }

    .output{
        margin: 0.7rem auto 2rem;
    }

    .footer{
        background-color: var(--primary-color);
        position: fixed;
        height: auto;
        /* bottom: 0; */
    } 

    .footer-txt{
        max-width: 80%;
    }
}

@media screen and (max-width: 500px) {
 
    body{
        height: 100vh;
    }
    
    .nav{
        grid-template-columns: repeat(3, 1fr);
    }
    
    .nav .img-1{
        padding: 0;
    }

    .nav .img-2{
        padding: 0;
    }
    
    .container{
        all: unset;
    }

    .background{
        display: block;
        background-image: url(./images/imageedit_3_3293361583.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        margin-top: 0.7rem;
    }

    .container .side-wrapper{
        all: unset;
        display: none;
    }

    .txt-area{
        margin: 2rem auto 0.7rem;
        background: transparent;
    }

    .output{
        margin: 0.7rem auto 2rem;
    }

    .footer{
        background-color: var(--primary-color);
        position: static;
    } 

    .footer-txt{
        max-width: 80%;
    }
}